<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
       
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes socias</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/bruna-bergami-636252191/" target="_blank" class="iconLin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>       
                    </li>
                    <li>
                        <a href="https://www.instagram.com/bruna.bergami.1/" target="_blank" class="iconInsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/bruna41" target="_blank" class="iconGit">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span> &copy;Bruna Bergami: </span>
        <a href="https://github.com/bruna41" target="_blank" class="text-muted">Portifólio</a>
    </div>

</footer>