<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-grup p-2">
                        <label for="nome"><b>Nome:</b></label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome">
                    </div>
                    <div class="form-grup p-2">
                        <label for="nome"><b>Usuário:</b></label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuario">
                    </div>
                    <div class="form-grup p-2">
                        <label for="foto"><b>Link da foto de usuário:</b></label>
                        <input class="form-control" type="text" name="foto" id="foto" placeholder="Link">
                    </div>
                    <div class="form-grup p-2">
                        <label for="sobre"><b>Frase do Status:</b></label>
                        <input class="form-control" type="text" name="sobre" id="sobre" placeholder="Status">
                    </div>
                    <div class="form-grup p-2">
                        <label for="senha"><b>Senha:</b></label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                    </div>
                    <div class="form-grup p-2">
                        <label for="confirmeSenha"><b>Confirme a senha:</b></label>
                        <input class="form-control" type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme sua senha">
                    </div>

                    <div class="form-grup p-2">
                        <label for="tipo"><b>Tipo de usuário:</b></label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Selecione</option>
                            <option value="adm">Administrador</option>
                            <option value="colaborador">Colaborador</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4 mt-4" routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn btn-success mt-4">Cadastrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>